<div id="container">

    <h1 align="center">CySeDM - Login</h1>
    <form>
        <input type="text" id="username" name="username" placeholder="Username or email">   

        <input type="password" id="password" name="password" placeholder="Password">

        <span id="errorMsg" style="color:red; padding-left:20px;"></span>         
    
        <div id="lower">
            
            <input type="submit" value="Login" id="register">
                
        </div>
        <a href="/register">Register</a> 
        </form>

</div>