<div id="container" style="height: 600px; top:20%;">

    <h1 align="center">CySeDM - Register</h1>
    <form method="POST" action="/register">
        <input type="text" id="username" name="username" placeholder="Username" value="{{username}}">   

        <input type="text" id="firstname" name="firstname" placeholder="First name" value="{{firstname}}">

        <input type="text" id="lastname" name="lastname" placeholder="Last name" value="{{lastname}}">
        
        <input type="text" id="email" name="email" placeholder="Email" value="{{email}}">

        <input type="password" id="password" name="password" placeholder="Password" value="{{password}}">

        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password" value="{{confirm_password}}">

        <span id="errorMsg" style="color:red; padding-left:20px;">{{errMsg}}</span>         
    
        <div id="lower">
            
            <input type="submit" value="Register" id="register">
                
        </div>
        </form>

</div>
